<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myrobot">
    <xacro:include filename="$(find robot_description)/urdf/laser.xacro" />
    <xacro:include filename="$(find robot_description)/urdf/camera.xacro" />  
    <xacro:include filename="$(find robot_description)/urdf/common_inertia.xacro" />
    <link name="base_footprint"/>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.091"/>
    </joint>
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0.0" rpy="0 0 0" />
            <geometry>
                <cylinder length="0.12" radius="0.12" />
            </geometry>
            <material name="blue">
                <color rgba="1.0 1.0 0.1 0.7"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.0" rpy="0 0 0" />
            <geometry>
                <cylinder length="0.12" radius="0.12" />
            </geometry>
            <material name="blue">
                <color rgba="0.1 0.1 1.0 0.5"/>
            </material>
        </collision>
        <xacro:cylinder_inertia m="1.0" r="0.12" h="0.12"/>
    </link>
    <gazebo reference="base_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
    <xacro:macro name="caster_xacro" params="caster_name xyz">
        <link name="${caster_name}_caster_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="0.016" />
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.8"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="0.016" />
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.8"/>
                </material>
            </collision>
            <xacro:sphere_inertia m="0.01" r="0.016" />
        </link>
        <gazebo reference="${caster_name}_caster_link">
            <mu1 value="0.0" />
            <mu2 value="0.0" />
            <kp value="1000000000.0" />
            <kd value="1.0" />
        </gazebo>

        <joint name="${caster_name}_caster_joint" type="fixed">
            <parent link="base_link" />
            <child link="${caster_name}_caster_link" />
            <origin xyz="${xyz}" />
            <axis xyz="0 0 0" />
        </joint>
    </xacro:macro>    

    <xacro:macro name="wheel_xacro" params="wheel_name xyz">
        <link name="${wheel_name}_wheel_link">
            <visual>
                <origin xyz="0 0 0" rpy="1.57079 0 0" />
                <geometry>
                    <cylinder length="0.04" radius="0.032" />
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.8"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="1.57079 0 0" />
                <geometry>
                    <cylinder length="0.04" radius="0.032" />
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.8"/>
                </material>
            </collision>
            <xacro:cylinder_inertia m="0.1" h="0.04" r="0.032"/>
        </link>
        <gazebo reference="${wheel_name}_wheel_link">
            <mu1 value="20.0" />
            <mu2 value="20.0" />
            <kp value="1000000000.0" />
            <kd value="1.0" />
        </gazebo>

        <joint name="${wheel_name}_wheel_joint" type="continuous">
            <parent link="base_link" />
            <child link="${wheel_name}_wheel_link" />
            <origin xyz="${xyz}" />
            <axis xyz="0 1 0" />
        </joint>
    </xacro:macro>

    <xacro:laser_xacro xyz="0 0 0.10" /> 
    <xacro:camera_xacro xyz="0.10 0 0.075" />  

    <xacro:wheel_xacro wheel_name="left" xyz="0 0.10 -0.06" />
    <xacro:wheel_xacro wheel_name="right" xyz="0 -0.10 -0.06" />
    <xacro:caster_xacro caster_name="front" xyz="0.08 0.0 -0.076" />
    <xacro:caster_xacro caster_name="back" xyz="-0.08 0.0 -0.076" />

    <!-- <xacro:include filename="$(find robot_description)/urdf/gazebo_control_plugin.xacro" /> 
    <xacro:gazebo_control_plugin />   -->
    <xacro:include filename="$(find robot_description)/urdf/robot_ros2_control.xacro" /> 
    <xacro:myrobot_ros2_control />  
</robot>
